<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VIAGO</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
    <link rel="stylesheet" th:href="@{/styles.css}" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cal+Sans&family=Special+Gothic+Expanded+One&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid px-5">
    <a class="navbar-brand texto-titulo" href="#">VIAGO</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/index">Home</a>
        <a class="nav-link" href="/viajes">Viajes</a>
        <a class="nav-link" href="/servicios">Servicios</a>
        <a class="nav-link" href="#">Contacto</a>

        <!-- Si no hay sesión iniciada, mostrar Iniciar Sesion -->
        <a class="nav-link" th:if="${session.admin == null and session.conductor == null and session.usuario == null}" href="/login">Iniciar Sesión</a>

        <!-- Si hay sesión iniciada, mostrar Cerrar Sesión -->
        <a class="nav-link" th:if="${session.admin != null or session.conductor != null or session.usuario != null}" href="/logout">Cerrar Sesión</a>
      </div>
    </div>
  </div>
</nav>


    <div id="carouselExampleCaptions" class="carousel slide">
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="https://www.peru.travel/Contenido/Noticia/Imagen/es/1970/1.0/Principal/lima-desktop.jpg"
            class="d-block w-100 img-banner img-fluid"
            alt="img1"
          />
          <div class="carousel-caption">
            <h2 class="texto-titulo">
              VIAGO, la forma definitiva de transporte
            </h2>
            <span class="texto-descriptivo"
              >Con cobertura completa para todo Lima</span
            >
          </div>
        </div>
        <div class="carousel-item">
          <img
            src="https://t3.ftcdn.net/jpg/07/99/00/76/360_F_799007622_KMoxfFCAfQQ1dlOVLjPr5Xuz0IAMHl86.jpg"
            class="d-block w-100 img-banner img-fluid"
            alt="img2"
          />
          <div class="carousel-caption">
            <h2 class="texto-titulo">Transporte publico exclusivo</h2>
            <span class="texto-descriptivo"
              >Descubre una nueva forma de viajar a traves de los distritos de
              la ciudad</span
            >
          </div>
        </div>
        <div class="carousel-item">
          <img
            src="https://artmantransfers.com/wp-content/uploads/2023/08/airport-transfer-taxi-artman.jpg"
            class="d-block w-100 img-banner img-fluid"
            alt="img3"
          />
          <div class="carousel-caption">
            <h2 class="texto-titulo">Servicio de transporte privado</h2>
            <span class="texto-descriptivo"
              >A la hora que quieras, cuando tu quieras.</span
            >
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <div class="container mt-3">
      <div class="row">
        <div class="col text-center">
          <h1 class="texto-titulo">Bienvenido a VIAGO</h1>
          <p class="texto-descriptivo">
            Aquí encontrarás una nueva forma de moverte a través de Lima
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col text-center">
          <h1 class="texto-titulo">Conoce acerca de nuestros servicios</h1>
          <div class="servicios card mb-3">
            <div class="row g-0">
              <div class="col-md-4">
                <img
                  th:src="@{images/taxi.jpg}"
                  class="img-fluid w-25 rounded-start"
                  alt="Taxi"
                />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Taxi Particular</h5>
                  <p class="card-text">
                    Vehiculos de alta calidad con nuestros mejores conductores
                    calificados, disponibles para llevarte a donde quieras.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="servicios card mb-3">
            <div class="row g-0">
              <div class="col-md-4">
                <img
                  th:src="@{images/bus.avif}"
                  class="img-fluid w-25 rounded-start"
                  alt="Taxi"
                />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Vehiculo Privado</h5>
                  <p class="card-text">
                    Reserva un vehiculo personal para que te lleve a tu destino.
                    Cuando quieras, desde donde quieras y hacia donde quieras. Con rastreo en vivo
                    y seguridad garantizada.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="bg-dark text-white text-center py-4">
      <p class="mb-0">&copy; 2025 Le Llante. Todos los derechos reservados.</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
